*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f8f3;
}

.wrapper {
  min-height: 100%;
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto-Black.ttf);
}
.header {
  background-color: #ffcc33;
  min-width: 185px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.header .container .logo img {
  width: 238px;
  height: 96px;
  margin: 44px 0;
}
@media (max-width: 420px) {
  .header .container .logo img {
    width: 200px;
    height: 75px;
    margin: 15px 0;
  }
}

.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-color: #d29b0c;
}

.main {
  background: linear-gradient(175deg, #df6186, #df6186 50%, #90d6be 50%, #90d6be);
  padding-bottom: 118px;
}
.main .agenda__title {
  color: #ffffff;
  font-family: "Roboto-Black", "Roboto", sans-serif;
  font-size: calc(48px + 32 * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: 105.18px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 16px;
  text-align: center;
  padding-top: 92px;
  margin-bottom: 91px;
}
.main .agenda__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .main .agenda__cards {
    justify-content: space-between;
  }
}
.main .agenda .card-title {
  color: #363b34;
  font-family: "Roboto-Black", "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 105.18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.main .agenda .paragrafe {
  display: flex;
  align-items: center;
  margin: 0;
}
.main .agenda p {
  color: #3d3935;
  font-family: "Roboto-Regular", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
@media (max: width 1150px) {
  .main .agenda p {
    font-size: 21px;
  }
}
.main .agenda .img {
  margin-right: 12px;
}
.main .agenda-card1 {
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  background-color: #90d6be;
  padding: 0 23px 88px;
  flex: 0 1 26%;
}
@media (max-width: 1200px) {
  .main .agenda-card1 {
    flex: 0 1 45%;
  }
}
@media (max-width: 1000px) {
  .main .agenda-card1 {
    flex: 0 1 100%;
  }
}
.main .agenda-card2 {
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  background-color: #479fdf;
  padding-left: 46px;
  padding: 0 26px 88px;
  flex: 0 1 27%;
  margin: 0 30px;
}
@media (max-width: 1200px) {
  .main .agenda-card2 {
    flex: 0 1 45%;
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .main .agenda-card2 {
    flex: 0 1 100%;
    margin-top: 30px;
  }
}
.main .agenda-card3 {
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  background-color: #f1b928;
  padding: 0 26px 88px;
  flex: 1 1 40%;
}
@media (max-width: 1200px) {
  .main .agenda-card3 {
    margin-top: 30px;
  }
}
.main .form {
  margin: 0 15px;
}
.main .form__title {
  color: #ffffff;
  font-family: "Roboto-Black", "Roboto", sans-serif;
  font-size: calc(30px + 50 * ((100vw - 320px) / 1600));
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  margin-top: 180px;
  margin-bottom: 91px;
  letter-spacing: 16px;
  text-align: center;
}
@media (max-width: 520px) {
  .main .form__title {
    letter-spacing: 5px;
  }
}
.main .form .result {
  color: #cc0000;
  font-family: "Roboto-Regular", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 105.18px;
  text-align: left;
  text-transform: uppercase;
}
.main .form .row {
  padding: 0 15px;
}
.main .form .row .form-control,
.main .form .row .form-select {
  height: 103px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #7c6378;
  font-family: "Roboto-Regular", "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .main .form .row .form-control,
.main .form .row .form-select {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .main .form .row {
    display: flex;
    flex-direction: column;
    --bs-gutter-y: 20px;
  }
}
.main .form .columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 auto;
  margin: 55px 0;
}
@media (max-width: 767px) {
  .main .form .columns {
    flex-direction: column;
  }
}
.main .form .first-column,
.main .form .secomd-column {
  width: 48%;
}
@media (max-width: 767px) {
  .main .form .first-column,
.main .form .secomd-column {
    width: 100%;
  }
}
.main .form .column1 {
  display: flex;
  flex-direction: column;
}
.main .form .column1 .col:nth-child(even) {
  margin: 55px 0;
}
.main .form .column2 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .main .form .column2 {
    margin-top: 20px;
  }
}
.main .form .textarea {
  width: 100%;
  height: 265px;
  border-radius: 10px;
  border: 2px solid #cccccc;
  background-color: #ffffff;
  resize: none;
  padding: 33px;
}
.main .form .btn {
  width: 100%;
  height: 103px;
  border-radius: 10px;
  border: 2px solid #cccccc;
  background-color: #e06287;
  margin-top: 45px;
  color: #fff;
  font-family: "Roboto-Regular", "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 105.18px;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
  outline: none;
}
@media (max-width: 767px) {
  .main .form .btn {
    margin-top: 0px;
  }
}
.main .form .btn:hover {
  background-color: #a51440;
}
.main .form .btn:active {
  background-color: #53051d;
}

.footer {
  background-color: #f1b928;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.footer .copyright {
  color: #fffefe;
  font-family: "Roboto-Regular", "Roboto", sans-serif;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  font-weight: 500;
  line-height: 105px;
  text-transform: uppercase;
  margin: 70px 0;
}

.burger {
  display: none;
}

@media (max-width: 1000px) {
  .burger {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    z-index: 5;
    margin: 30px;
    cursor: pointer;
  }

  .burger::before,
.burger::after,
.burger span {
    content: "";
    background-color: #a51440;
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    border-radius: 10px;
    transition: all 0.4s ease 0s;
    box-shadow: 1px 1px 1px #262626;
  }

  .burger::before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    top: 25px;
  }

  .burger.active::before {
    transform: rotate(45deg);
    top: 27px;
  }

  .burger.active::after {
    transform: rotate(-45deg);
    bottom: 22px;
  }

  .burger.active span {
    transform: scale(0);
  }
}
.header__menu .menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header__menu .menu__list li {
  margin-left: 36px;
}
.header__menu .menu__item {
  color: #7d6378;
  font-family: "Roboto-Regular", "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 84px;
  text-align: left;
  text-decoration: none;
}
.header__menu .menu__item:hover {
  color: #a51440;
  padding-bottom: 0;
  border-bottom: 3px solid #a51440;
  outline: none;
}
@media (max-width: 1000px) {
  .header__menu .menu__list {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 85px 0 0 0;
    text-shadow: 1px 1px 1px #000;
    transition: all 0.5s ease 0s;
    overflow: auto;
    backdrop-filter: blur(5px);
    transition: all 1s ease 0s;
  }
  .header__menu .menu__list.active {
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 0;
    width: 100vw;
    height: 100%;
    font-size: 60px;
    background-color: rgba(51, 51, 51, 0.9);
    overflow: hidden;
    padding-bottom: 0;
    z-index: 4;
  }
}
@media (max-width: 1000px) and (max-width: 420px) {
  .header__menu .menu__list.active {
    top: 0;
  }
}
@media (max-width: 1000px) {
  .header__menu .menu__list.active a {
    padding-bottom: 0;
    font-size: 45px;
  }
}

.welcome__title {
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.welcome__title._active {
  transform: translate(0, 0);
  opacity: 1;
}

.welcome__subtitle {
  transform: translate(-200%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.welcome__subtitle._active {
  transform: translate(0, 0);
  opacity: 1;
}

.welcome__location {
  transform: translate(200%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.welcome__location._active {
  transform: translate(0, 0);
  opacity: 1;
}

.agenda__title {
  transform: scale(0);
}

.agenda__title._active {
  transform: scale(1);
  transition: all 0.8s ease 0.3s;
}

.agenda-card1 {
  transform: translate(-200%, 0);
  opacity: 0;
  transition: all 0.8s ease 0.6s;
}

.agenda-card1._active {
  transform: translate(0, 0);
  opacity: 1;
}

.agenda-card2 {
  transform: translate(-200%, 0);
  opacity: 0;
  transition: all 0.8s ease 0.3s;
}

.agenda-card2._active {
  transform: translate(0, 0);
  opacity: 1;
}

.agenda-card3 {
  transform: translate(-200%, 0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.agenda-card3._active {
  transform: translate(0, 0);
  opacity: 1;
}

.form__title {
  transform: translate(0, -120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.form__title._active {
  transform: translate(0, 0);
  opacity: 1;
}

.map__title {
  transform: translate(0, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.map__title._active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.8s ease 0.6s;
}

.copyright {
  transform: scale(0);
}

.copyright._active {
  transform: scale(1);
  transition: all 0.8s ease 0.3s;
}

.wrapper {
  margin: 0 auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.welcome {
  background: url("../images/main_bg.png") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
.welcome__title {
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.29);
  color: #ffffff;
  font-family: "Roboto-Black", "Roboto", sans-serif;
  font-size: calc(60px + 59 * ((100vw - 320px) / 1600));
  font-weight: 400;
  letter-spacing: 72px;
  text-transform: uppercase;
  padding-left: 85px;
  padding-top: 365px;
}
@media (max-width: 1180px) {
  .welcome__title {
    letter-spacing: 50px;
    padding-left: 0;
  }
}
@media (max-width: 750px) {
  .welcome__title {
    letter-spacing: 25px;
  }
}
@media (max-width: 520px) {
  .welcome__title {
    letter-spacing: 0;
  }
}
.welcome__subtitle {
  color: #ffffff;
  font-family: "Roboto-Light", "Roboto", sans-serif;
  font-size: calc(35px + 36 * ((100vw - 320px) / 1600));
  font-weight: 300;
  line-height: 104px;
  text-transform: uppercase;
}
@media (max-width: 520px) {
  .welcome__subtitle {
    line-height: 40px;
  }
}
.welcome__location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 203px;
}
.welcome__location .location-text {
  color: #ffffff;
  font-family: "Roboto-Black", "Roboto", sans-serif;
  font-size: calc(25px + 23 * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: 84px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5.76px;
}
@media (max-width: 520px) {
  .welcome__location .location-text {
    line-height: 30px;
  }
}

.map {
  width: 100%;
  height: 629px;
}
.map .container {
  width: 1410px;
  margin: 0 auto;
  position: relative;
}
.map__title {
  color: #df6186;
  font-family: "Roboto-Black", "Roboto", sans-serif;
  font-size: calc(30px + 50 * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: 105.18px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 16px;
  text-align: center;
  position: absolute;
  top: 71px;
  left: calc(20px + 269 * ((100vw - 320px) / 1600));
  z-index: 2;
}
@media (max-width: 576px) {
  .map__title {
    top: 25px;
    width: 350px;
    letter-spacing: 0;
  }
}
@media (max-width: 365px) {
  .map__title {
    left: 0;
  }
}
@media (max-width: 320px) {
  .map__title {
    left: -15px;
  }
}

.lock-scroll {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
