//===== WELCOME =================================================================
.welcome__title {
  transform : translate(0, 120%);
  opacity   : 0;
  transition: all .8s ease 0s;
}

.welcome__title._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.welcome__suptitle {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0s;
}

.welcome__suptitle._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.welcome__location {
  transform : translate(200%, 0);
  opacity   : 0;
  transition: all .8s ease 0s;
}

.welcome__location._active {
  transform: translate(0, 0);
  opacity  : 1;
}

//===== AGENDA =================================================================
.agenda__title {
  transform: scale(0);
}

.agenda__title._active {
  transform : scale(1);
  transition: all .8s ease .3s;
}

.card-first {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0.6s;
}

.card-first._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.card-second {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0.3s;
}

.card-second._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.card-party {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0s;
}

.card-party._active {
  transform: translate(0, 0);
  opacity  : 1;
}

//===== FORM =================================================================
.form__title {
  transform : translate(0, -120%);
  opacity   : 0;
  transition: all .8s ease 0s;
}

.form__title._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.name {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0.6s;
}

.name._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.email {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0.3s;
}

.email._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.select {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0s;
}

.select._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.card-first {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0.6s;
}

.que1 {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0s;
}

.que1._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.que2 {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0.3s;
}

.que2._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.que3 {
  transform : translate(-200%, 0);
  opacity   : 0;
  transition: all .8s ease 0.6s;
}

.que3._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.text {
  transform : translate(200%, 0);
  opacity   : 0;
  transition: all .8s ease 0.3s;
}

.text._active {
  transform: translate(0, 0);
  opacity  : 1;
}

.btnn {
  transform : translate(200%, 0);
  opacity   : 0;
  transition: all .8s ease 0.6s;
}

.btnn._active {
  transform: translate(0, 0);
  opacity  : 1;
}

//===== MAP =================================================================
.map__title {
  transform : translate(0, 120%);
  opacity   : 0;
  transition: all .8s ease 0s;
}

.map__title._active {
  transform : translate(0, 0);
  opacity   : 1;
  transition: all .8s ease 0.6s;
}

.copyright {
  transform: scale(0);
}

.copyright._active {
  transform : scale(1);
  transition: all .8s ease .3s;
}