.wrapper {
  padding: 0 10px;
}

.header {
  position: fixed;
  width   : 100%;
  top     : 0;
  left    : 0;
  z-index : 50;

  &::before {
    content         : "";
    position        : absolute;
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    background-color: #ffcc33;
    z-index         : 2;
  }

  &__body {
    position       : relative;
    display        : flex;
    justify-content: space-between;
    height         : 205px;
    align-items    : center;
    flex-wrap      : wrap;
    padding        : 0 15px;



    @media(max-width:992px) {
      height: 80px;
    }
  }

  &__logo {
    display : block;
    position: relative;
    z-index : 3;
  }

  &__logo img {
    max-width: 100%;

    @media (max-width:992px) {
      width: 170px;
    }
  }

  &__burger {
    display: none;

    @media(max-width:992px) {
      display : block;
      position: relative;
      width   : 50px;
      height  : 40px;
      position: relative;
      z-index : 3;
    }

    &:before,
    &:after {
      content         : "";
      background-color: #a51440;
      position        : absolute;
      width           : 100%;
      height          : 5px;
      left            : 0;
      transition      : all .3s ease 0s;
      border-radius   : 2px;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    & span {
      position        : absolute;
      background-color: #a51440;
      width           : 100%;
      height          : 5px;
      left            : 0;
      top             : 17px;
      border-radius   : 2px;
      transition      : all .3s ease 0s;
    }

    &.active::before {
      transform: rotate(45deg);
      top      : 17px;
    }

    &.active::after {
      transform: rotate(-45deg);
      bottom   : 18px;
    }

    &.active span {
      transform: scale(0);
    }
  }

  &__menu {

    @media(max-width:992px) {
      position        : fixed;
      width           : 100%;
      height          : 100%;
      top             : -300%;
      left            : 0;
      background-color: rgba(51, 51, 51, 0.9);
      padding         : 100px 10px 20px 10px;
      text-align      : center;
      transition      : all .5s ease 0s;
    }
  }

  &__menu.active {
    top     : 0;
    overflow: auto;
  }

  &__list {
    display     : flex;
    position    : relative;
    padding-left: 0;
    z-index     : 2;

    & li {
      margin-left: 36px;

      & a {
        text-decoration: none;
      }

      &:nth-child(1) {
        margin-left: 0;
      }
    }

    @media(max-width:992px) {
      display: block;

      li {
        margin-left  : 0;
        margin-bottom: 10px;
        height       : 70px;

        & a {
          font-size  : 55px;
          line-height: 55px;
        }

        &:nth-child(3) {
          margin-bottom: 60px;
        }
      }
    }
  }

  &__link {
    color      : #7d6378;
    font-family: Roboto;
    font-size  : 32px;
    font-weight: 500;
    line-height: 84px;
    text-align : left;

    &:hover {
      color         : #a51440;
      padding-bottom: 0;
      border-bottom : 3px solid #a51440;
      outline       : none;
    }
  }

  // &::after {}
}