.main {
  background    : linear-gradient(175deg, #df6186, #df6186 50%, #90d6be 50%, #90d6be);
  padding-bottom: 118px;

  //===== AGENDA =========
  .agenda {

    h2 {
      color         : #ffffff;
      font-family   : $robotoB;
      font-size     : 80px;
      font-weight   : 400;
      line-height   : 105.18px;
      text-align    : left;
      text-transform: uppercase;
      letter-spacing: 16px;
      text-align    : center;
      padding-top   : 92px;
      margin-bottom : 91px;

      @media(max-width: 420px) {
        font-size: 60px;
      }

      @media(max-width: 360px) {
        font-size: 50px;
      }
    }

    &__cards {
      display        : flex;
      justify-content: center;


      @media(max-width: 1200px) {
        flex-wrap      : wrap;
        justify-content: space-between;
      }
    }


    h3 {
      color         : #363b34;
      font-family   : $robotoB;
      font-size     : 36px;
      font-weight   : 400;
      line-height   : 105.18px;
      text-align    : center;
      text-transform: uppercase;
      margin        : 0;
    }

    ul {
      padding-bottom: 88px;
    }

    li {
      display      : flex;
      align-items  : center;
      color        : #3d3935;
      font-family  : $roboto;
      font-size    : 16px;
      font-weight  : 500;
      text-align   : left;
      margin-bottom: 30px;
      word-wrap    : break-word;
      padding      : 0 24px;
    }

    li:before {
      content         : "";
      display         : block;
      width           : 10px;
      height          : 10px;
      background-color: #fff;
      padding-right   : 12px;
      margin-right    : 12px;
    }

    .card-first,
    .card-second,
    .card-party {
      box-shadow   : 4px 4px 5px 1px rgba(0, 0, 0, 0.29);
      border-radius: 10px;
    }

    .card-first {
      background-color: #90d6be;
      flex            : 0 1 26%;

      @media(max-width: 1200px) {
        flex: 0 1 45%;
      }

      @media(max-width: 1000px) {
        flex: 0 1 100%;
      }
    }

    .card-second {
      background-color: #479fdf;
      margin          : 0 30px;
      flex            : 0 1 27%;

      @media(max-width: 1200px) {
        flex  : 0 1 45%;
        margin: 0;
      }

      @media(max-width: 1000px) {
        flex      : 0 1 100%;
        margin-top: 30px;
      }
    }

    .card-party {
      background-color: #f1b928;
      flex            : 0 1 45%;

      @media(max-width: 1200px) {
        flex      : 0 1 100%;
        margin-top: 30px;
      }
    }
  }

  //======================

  //======== FORM =========
  .form {
    margin: 0 15px;

    &__title {
      color         : #ffffff;
      font-family   : $robotoB;
      font-size     : 80px;
      font-weight   : 400;
      text-align    : left;
      text-transform: uppercase;
      margin-top    : 180px;
      margin-bottom : 91px;
      letter-spacing: 16px;
      text-align    : center;

      @media (max-width: 800px) {
        font-size: 60px;
      }

      @media (max-width: 676px) {
        font-size     : 40px;
        letter-spacing: 10px;
      }

      @media (max-width: 520px) {
        letter-spacing: 5px;
      }

      @media (max-width: 420px) {
        font-size: 30px;
      }
    }

    #result {
      color         : #cc0000;
      font-family   : $roboto;
      font-size     : 16px;
      font-weight   : 500;
      text-transform: uppercase;
      margin-top    : 16px
    }

    .row {
      padding: 0 15px;

      .form-control {
        height          : 103px;
        border-radius   : 10px;
        background-color: #ffffff;
        color           : #7c6378;
        font-family     : $roboto;
        font-size       : 24px;
        font-weight     : 500;
        text-align      : left;
        text-transform  : uppercase;
        border          : 2px solid #cccccc;

        @media (max-width: 767px) {
          font-size: 14px;
        }
      }

      @media (max-width: 767px) {
        display       : flex;
        flex-direction: column;
        --bs-gutter-y : 20px;
      }
    }

    .columns {
      display        : flex;
      flex-wrap      : wrap;
      justify-content: space-between;
      flex           : 1 1 auto;
      margin-top     : 40px;

      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    .first-column,
    .secomd-column {
      width: 49%;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .first-column {
      .row {
        display: block;
        width  : 100%;
        margin : 0;

        .col {
          padding: 0;
        }

        .col:nth-child(even) {
          margin: 55px 0;
        }
      }


    }

    .secomd-column {
      .row {
        display       : flex;
        flex-direction: column;
      }

      @media (max-width: 767px) {
        margin-top: 20px;
      }

    }

    .textarea {
      width           : 100%;
      height          : 265px;
      font-size       : 24px;
      font-weight     : 500;
      border-radius   : 10px;
      border          : 2px solid #cccccc;
      background-color: #ffffff;
      resize          : none;
      padding         : 33px;
    }

    .btn {
      width           : 100%;
      height          : 103px;
      border-radius   : 10px;
      border          : 2px solid #cccccc;
      background-color: #e06287;
      margin-top      : 45px;
      color           : #fff;
      font-family     : $roboto;
      font-size       : 24px;
      font-weight     : 500;
      line-height     : 105.18px;
      text-align      : left;
      text-transform  : uppercase;
      text-align      : center;
      outline         : none;

      @media (max-width: 767px) {
        margin-top: 0px;
      }
    }

    .btn:hover {
      background-color: #a51440;
    }

    .btn:active {
      background-color: #53051d;
    }
  }

  //================================

}