@import "safetyZeroing.scss";
@import "fonts.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";
@import "burger.scss";
@import "menu.scss";
@import "_mixins.scss";
@import "animation.scss";

.wrapper {
  margin: 0 auto;
}

.container {
  width : 1440px;
  margin: 0 auto;
}

//===== WELCOME =========
.welcome {

  background           : url('/images/main_bg.png') no-repeat center center;
  background-attachment: fixed;
  background-size      : cover;
  text-align           : center;

  &__title {
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.29);
    color      : #ffffff;
    font-family: $robotoB;
    @include adaptiv-font(119, 60);
    font-weight   : 400;
    letter-spacing: 72px;
    text-transform: uppercase;
    padding-left  : 85px;
    padding-top   : 179px;

    @media(max-width: 1180px) {
      letter-spacing: 50px;
      padding-left  : 0;
    }

    @media(max-width: 750px) {
      letter-spacing: 25px;
    }

    @media(max-width: 520px) {
      letter-spacing: 0;
    }
  }

  &__subtitle {
    color      : #ffffff;
    font-family: $robotoL;
    @include adaptiv-font(71, 35);
    font-weight   : 300;
    line-height   : 104px;
    text-transform: uppercase;

    @media(max-width: 520px) {
      line-height: 40px;
    }
  }

  &__location {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding-bottom : 203px;

    .location-text {
      color      : #ffffff;
      font-family: $robotoB;
      @include adaptiv-font(48, 25);
      font-weight   : 400;
      line-height   : 84px;
      text-align    : center;
      text-transform: uppercase;
      letter-spacing: 5.76px;

      @media(max-width: 520px) {
        line-height: 30px;
      }
    }
  }
}

//======================

//========   MAP   =========
.map {
  width : 100%;
  height: 629px;

  .container {
    width   : 1410px;
    margin  : 0 auto;
    position: relative;
  }

  &__title {
    color      : #df6186;
    font-family: $robotoB;
    @include adaptiv-font(80, 30);
    font-weight   : 400;
    line-height   : 105.18px;
    text-align    : left;
    text-transform: uppercase;
    letter-spacing: 16px;
    text-align    : center;
    position      : absolute;
    top           : 71px;
    left          : calc(20px + 269 * ((100vw - 320px) / 1600));
    z-index       : 2;

    @media(max-width:576px) {
      top           : 25px;
      width         : 350px;
      letter-spacing: 0;
    }

    @media(max-width:365px) {
      left: 0;
    }

    @media(max-width:320px) {
      left: -15px;
    }
  }
}

//============================
.lock-scroll {
  overflow: hidden;
}